
.Collection_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background-color:#C9D1D3; */
    min-height: 720px;
    background-color: #04293A;
}
.Collection_container h2{
    color: white;
}