

.card_link{
    display: flex;
    height: 440px;
    justify-content: center;
    align-items: center;
}
.productCard{

    height: 420px;
    width: 250px;
    position: relative;
    border: 2px solid white;
    transition: 0.5s ease;
    margin: 15px;
    color:white;
   box-shadow:5px 5px 20px rgb(0, 0, 0.5)

}
.productCard:hover{
    transform: scale(1.1,1.05);
    outline: none;
}


.productCard img{
    justify-self: center;
    width: 100%;
    height: 90%;
}
/* .productCard i{
    position: absolute;
    right:2%;
    top:82%;
    color: white;
    transition: 0.4s ease-out;
}
.productCard i:hover{
    color:red;
    transform: scale(1.2,1.2);
} */

.productCard h2{
    width: 60%;
    margin: auto;
    text-align: center;
}


