.main{
  height: auto;
  overflow:auto;
}
.main_section1{
     margin-top: 60px;
     height: 700px;
     width: 100%;
     display:flex ;
    justify-content: center;
    align-items: center;
    
    
}

.main_section1 button{
    height: 30px;
    width: 140px ;
    background-color: transparent;
    border: 1px solid;
    transition: 0.3s ease-out;
    color: white;
    margin: 10px 10px;
    
    
}
.main_section1 button:hover{
    transform: scale(1.1,1.05);
    background-color: black;
    color:white;
    outline: none;
   
}


.main_section2{
  margin: 3.5%;
  padding: 10px;
  /* height: 200px; */
  border: 3px solid black;
  display: flex;
  justify-content: space-evenly;
}

.main_section3{
 display: flex;
 flex-wrap: wrap;
 background-color: #04293A;
 flex-grow: 1;
 justify-content:space-evenly;
 padding: 10px 20px;
 
}
 
.main_section4{
  margin-top: 20px;
  height: 600px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  
}
.main_section4 div{
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-out;
  border-radius: none;
  color: white;
}

.main_section4 div:hover{
  transform: scale(1.01,1.01);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
  opacity: 0.5;
}

.main_section5{
  height: 200px;
  border: 2px solid skyblue;
}

@media  screen and (max-width: 850px) {
  .main_section1 div{
    display: flex;
    flex-direction: column;
  }
  
  
}
@media screen and (max-width:600px) {
    .main_section2{
      flex-direction: column;
      flex-wrap: wrap;
    }
}
@media  screen and (max-width:400px) {
  .main_section3{
    flex-direction: column;
    align-items: center;
  }
  .main_section4{
    flex-direction: column;
    height: 1000px;
  }
  .main_section4 div{
      width: 100%;
      height: 50%;
  }
}